body{
    background-color: #4060bf;color:black
}
.alert2{
    background-color:#99b3ff;color:#ffff;
    text-align: center;
    border: 3px solid #4060bf;
    border-radius: 10px;
    margin-top: 50px;margin-left: 380px;
    width: 600px;height:45px;
    align-items: center;
}